{% load static %}
<html>
<head>
  <title>Smell Testing Results</title>
  <meta charset="utf-8" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

  <script src="https://jdfekete.github.io/reorder.js/lib/d3.v3.js"></script>
  <script src="https://jdfekete.github.io/reorder.js/lib/d3.parcoords.js"></script>
  <script src="https://jdfekete.github.io/reorder.js/lib/science.v1.js"></script>
  <script src="https://jdfekete.github.io/reorder.js/lib/tiny-queue.js"></script>
  <script src="https://jdfekete.github.io/reorder.js/reorder.v1.js"></script>
  <script src="https://jdfekete.github.io/reorder.js/examples/matrix.js"></script>

  <script src="{% static "js/d3.layout.adjacencyMatrix.js" %}" type="text/JavaScript"></script>
</head>
<style>
  svg {
    height: 1400px;
    width: 1400px;
    border: 1px solid gray;
  }
  g.am-axis text {
    font-size: 8px;
  }

  .domain {
    fill: none;
  }

  .tick > line{
    stroke: black;
    stroke-width: 1px;
    stroke-opacity: .25;
  }

</style>
<body>

<div id="viz">
  <svg>
  </svg>
</div>
<div id="controls">
  <p>Order: <select id="order">
    <option value="name">by Name</option>
    <option value="count">by Frequency</option>
    <option value="group">by Cluster</option>
    <option value="leafOrder">by Leaf Order</option>
    <option value="leafOrderDist">by Leaf Order over Distance Matrix</option>
    <option value="barycenter">by Crossing Reduction</option>
    <option value="rcm">by Bandwidth Reduction (RCM)</option>
    <option value="spectral">Spectral</option>
  </select>

  <p>Distance: <select id="distance">
    <option value="manhattan" selected="true">Manhattan</option>
    <option value="euclidean">Euclidean</option>
    <option value="chebyshev">Chebyshev</option>
    <option value="hamming">Hamming</option>
    <option value="jaccard">Jaccard</option>
    <option value="braycurtis">Braycurtis</option>
  </select>
</div>
</body>
<footer>

  <script>
    d3.json("data", createAdjacencyMatrix);

    function createAdjacencyMatrix(data) {

      var adjacencyMatrix = d3.layout.adjacencyMatrix()
        .size([800,800])
        .nodes(data.nodes)
        .links(data.links)
        .edgeWeight(function(d) { return d.value })
        .directed(true)
        .nodeID(function (d) { return d.name });

      var matrixData = adjacencyMatrix();

      var highestCorrectWeight = 1; // d3.max(data.links, function(d) { return d.source.name === d.target.name ? d.value : 0; });
      var highestWeightWeight = 1; // d3.max(data.links, function(d) { return d.source.name != d.target.name ? d.value : 0; });

      var correctColors = d3.scale.linear().domain([0,highestCorrectWeight])
        .interpolate(d3.interpolateHcl)
        .range([d3.rgb("#000000"), d3.rgb('#00ff00')]);
      var wrongColors = d3.scale.linear().domain([0,highestWeightWeight])
        .interpolate(d3.interpolateHcl)
        .range([d3.rgb("#000000"), d3.rgb('#ff0000')]);

      d3.select("svg")
        .append("g")
        .attr("transform", "translate(50,50)")
        .attr("id", "adjacencyG")
        .selectAll("rect")
        .data(matrixData)
        .enter()
        .append("rect")
        .attr("width", function (d) { return d.width })
        .attr("height", function (d) { return d.height })
        .attr("x", function (d) { return d.x })
        .attr("y", function (d) { return d.y })
        .style("stroke", "black")
        .style("stroke-width", "1px")
        .style("stroke-opacity", .1)
        .style("fill", function (d) {
            return d.source.name === d.target.name ? correctColors(d.weight / d.source.testCount) : wrongColors(d.weight / d.source.testCount)
        })
        .style("fill-opacity", function (d) { return d.weight * .8 });

      d3.select("#adjacencyG")
        .call(adjacencyMatrix.xAxis);

      d3.select("#adjacencyG")
        .call(adjacencyMatrix.yAxis);


    }
  </script>
</footer>

